<h1 align="center">Dashboard</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Chart</span>
                <select ng-model="chartDoughnut.type" ng-options="type for type in chartDoughnut.types">
                </select>
            </div>
            <div class="panel-body">
                <canvas class="chart-base" chart-type="chartDoughnut.type" chart-data="chartDoughnut.data"
                        chart-labels="chartDoughnut.labels" chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Chart</span>
                <select ng-model="chartLine.type" ng-options="type for type in chartLine.types">
                </select>
            </div>
            <div class="panel-body">
                <canvas class="chart-base" chart-type="chartLine.type" chart-data="chartLine.data"
                        chart-labels="chartLine.labels" chart-legend="true" chart-series="chartLine.series">
                </canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">nvd3
                <select ng-model="nvd3Line.options.chart.type"
                        ng-options="type for type in nvd3Line.options.chart.types"> </select>
            </div>
            <div class="panel-body">
                <nvd3 options="nvd3Line.options" data="nvd3Line.data">
                </nvd3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">nvd3PieChart</div>
            <div class="panel-body" ng-show="nvd3Pie.show">
                <nvd3 options="nvd3Pie.options" data="nvd3Pie.data">
                </nvd3>
                <p>data at :{{index}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">myD3Bar
                <button class="btn btn-default" ng-click="myD3Bar.updateData()">UpdateData</button>
            </div>
            <div class="panel-body">
                <my-d3-bar data="myD3Bar.data"></my-d3-bar>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">myD3Dots
                <button class="btn btn-default" ng-click="myD3Dots.updateData()">UpdateData</button>
            </div>
            <div class="panel-body">
                <my-d3-dots data="myD3Dots.data"></my-d3-dots>
            </div>
        </div>

    </div>
</div>

<my-d3-bar data="myD3Bar.data"></my-d3-bar>
