<form role="form" name="myForm" class="my-form">
    <div class="form-group">
        <label for="inputx" class="">Input(no pattern):</label>
        <input type="text" class="form-control input-lg"
               ng-model="inputx" id="inputx" name="inputx"
               required>
        <span class="error" ng-show="myForm.inputx.$error.required">Required!<br></span>
        <code>userType = {{inputx}}</code><br>
        <code>myForm.inputx.$valid = {{myForm.inputx.$valid}}</code><br>
        <code>myForm.inputx.$error = {{myForm.inputx.$error}}</code><br>
        <code>myForm.inputx.$dirty = {{myForm.inputx.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>
    <div class="form-group">
        <label for="user" class="">Single word/User(with pattern /^\s*\w*\s*$/):</label>
        <input type="text" class="form-control input-lg"
               ng-model="user" id="user" name="user" ng-pattern="pattern.word"
               required>
        <span class="error" ng-show="myForm.user.$error.required">Required!<br></span>
        <code>userType = {{user}}</code><br>
        <code>myForm.user.$valid = {{myForm.user.$valid}}</code><br>
        <code>myForm.user.$error = {{myForm.user.$error}}</code><br>
        <code>myForm.user.$dirty = {{myForm.user.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>
    <div class="form-group">
        <label for="email" class="">Email(with default pattern-attr email):</label>
        <input type="email" class="form-control input-lg"
               ng-model="email" id="email" name="email"
               required>
        <span class="error" ng-show="myForm.email.$error.required">Required!<br></span>
        <code>userType = {{email}}</code><br>
        <code>myForm.email.$valid = {{myForm.email.$valid}}</code><br>
        <code>myForm.email.$error = {{myForm.email.$error}}</code><br>
        <code>myForm.email.$dirty = {{myForm.email.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>
    <div class="form-group">
        <label for="ssn1" class="">SSN(with pattern /^\d{4}-\d{2}-\d{4}$/):</label>
        <input type="text" class="form-control input-lg"
               ng-model="ssn1" id="ssn1" name="ssn1" ng-pattern="pattern.ssn"
               required>
        <span class="error" ng-show="myForm.ssn1.$error.required">Required!<br></span>
        <code>userType = {{ssn1}}</code><br>
        <code>myForm.ssn1.$valid = {{myForm.ssn1.$valid}}</code><br>
        <code>myForm.ssn1.$error = {{myForm.ssn1.$error}}</code><br>
        <code>myForm.ssn1.$dirty = {{myForm.ssn1.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>
    <div class="form-group">
        <label for="ssn2" class="">SSN(with custom pattern-attr ssn ):</label>
        <input type="text" class="form-control input-lg"
               ng-model="ssn2" id="ssn2" name="ssn2" ng-model-options="{updateOn:'mousedown blur'}"
               required ssn>
        <span class="error" ng-show="myForm.ssn2.$error.required">Required!<br></span>
        <code>userType = {{ssn2}}</code><br>
        <code>myForm.ssn2.$valid = {{myForm.ssn2.$valid}}</code><br>
        <code>myForm.ssn2.$error = {{myForm.ssn2.$error}}</code><br>
        <code>myForm.ssn2.$dirty = {{myForm.ssn2.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>
    <div class="form-group">
        <label for="number" class="">Number(with custom format-attr formatNumber ):</label>
        <input type="text" class="form-control input-lg"
               ng-model="number"
               id="number" name="number"
               required format-number>
        <input type="text" ng-model="number"/><br>
        <span class="error" ng-show="myForm.number.$error.required">Required!<br></span>
        <code>userType = {{number}}</code><br>
        <code>myForm.number.$valid = {{myForm.number.$valid}}</code><br>
        <code>myForm.number.$error = {{myForm.number.$error}}</code><br>
        <code>myForm.number.$dirty = {{myForm.number.$dirty}}</code><br>
        <code>myForm.$valid = {{myForm.$valid}}</code><br>
        <code>!!myForm.$error.required = {{!!myForm.$error.required}}</code><br>
        <code>myForm.$dirty = {{myForm.$dirty}}</code><br>
    </div>


</form>
