<H4>Todos</H4>
<form id="todo-form" ng-submit="addTodo()">
    <input placeholder="What needs to be done?" ng-model="newTodo" class="form-control input-lg" required>
</form>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        State:<select ng-model="filterState.completed">
        <option value="">All</option>
        <option value=false>Active</option>
        <option value="true"> Complete</option>
    </select>
    </div>
    <div class="panel-body">
        <ul class="nav">
            <li ng-repeat="todo in todos  | filter:filterState track by  $index">
                <div ng-hide="todo.edit" ng-dblclick="todo.edit=!todo.edit">
                    <a href ng-click="removeTodo(todo)" class="pull-right">&times;</a>
                    <input type="checkbox" ng-model="todo.completed"/>
                    <span ng-class="{'del':todo.completed}">{{todo.task}}</span>
                </div>
                <form ng-show="todo.edit" ng-submit="editTodo(todo)">
                    <input ng-model="todo.task" class="form-control">
                </form>
            </li>
        </ul>
    </div>
</div>

